.box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  padding: 1%;
}

.box::after {
  position: absolute;
  content: "";
  width: 97%;
  height: 97%;
  border-radius: 13px;
  border-top-right-radius: 8%;
  border-bottom-left-radius: 8%;
  box-shadow: inset 12px 12px 24px #7425c0,
              inset -5px -5px 5px #9e31ff,
              -3px -3px 3px #7425c0, 
              3px 3px 3px #9e31ff;
  z-index: -1;
}

.square {
  filter: brightness(1.2);
  margin: 1%;
  box-shadow: 10px 10px 37px #a434ff, -10px -10px 37px #a434ff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.resizable {
  position: absolute;
  border: 2px solid #4286f4;
  box-sizing: border-box;
}

.resizers {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.resizer {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize;
}

.resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}

.resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}

.resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}
